.a img{
    height: 80px;
    width: 80px;
}
.b{
    margin-top: -60px;
    margin-left: 120px;
}
.c img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: 1100px;

}
.d img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: 1200px;

}
body{
    background-color: pink;
}
.e{
    margin-top: 80px;
    margin-left: 400px;
}
.f{
    margin-top: 60px;
    margin-left: 400px;
}
.g{
    margin-top: 70px;
    margin-left: 400px;
}