
.b{
    font-size: 20px;
    line-height: 1px;
    font-family: sans-serif;
    position: relative;
    margin-left: 260px;
    margin-top: -75px;
}
.c{
    margin-left: 50%;
    margin-top: -40px;
}
.d img{
    margin-top: 120px;
    width: 1350px;
    height: 320px;
    
}

span{
    font-weight: bold;
    padding: 2%;
    margin-top: -75px;
}
.a img{
    height: 100px;
    width: 100px;
}




