.a img{
    height: 80px;
    width: 80px;
}
.b{
    margin-top: -60px;
    margin-left: 120px;
}
.c img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: 1100px;

}
.d img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: 1200px;

}
.e img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-left: 400px;
}
.f img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-left: 400px;

}
.g img{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 400px;

}
.h{
    margin-top:20px;
    margin-left: 400px;
}
.i img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-left: 400px;

}
.j{
    margin-top:20px;
    margin-left: 400px;

}